sha {
	color:black;
	font-size: 25px;
	font-family: Verdana;
}

syi {
	color: purple;
	font-size: 18px;
	font-family: sans-serif;
}

sya {
	color: darkpink;
	font-size: 18px;
	font-family: sans-serif;
}

cl  {
	color: #C32148;
	font-size 28px;
	font-family: Palatino;
}

dl  {
	color: #A84860;
	font-size: 20px;
	font-family: Verdana;
}


